<!-- <div>
	<table class="table">
		<thead>		</thead>
		<tbody>
			<tr>
				<td>
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button"
							data-toggle="dropdown">{{accountDisplay}}</button>
						<ul class="dropdown-menu">
							<li><a ng-click="accountSelect(account.id, account.name)"
								ng-repeat="account in details.accountsList">{{account.name}}</a></li>
						</ul>
					</div>
				</td>
				<td>
					<button type="button" class="btn btn-primary" data-toggle="modal"
						data-target="#accountModal">Add New Account</button>
				</td>
			</tr>
			<tr ng-if="accountSelected">
				<td><div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button"
							data-toggle="dropdown">{{projectDisplay}}</button>
						<ul class="dropdown-menu">
							<li><a ng-click="projectSelect(project.id, project.name)"
								ng-repeat="project in details.projectsList">{{project.name}}</a></li>
						</ul>
					</div></td>
				<td>
					<button type="button" class="btn btn-primary" data-toggle="modal"
						data-target="#projectModal">Add New Project</button>
				</td>
			</tr>
			<tr ng-if="projectSelected">
				<td><div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button"
							data-toggle="dropdown">{{moduleDisplay}}</button>
						<ul class="dropdown-menu">
							<li><a ng-click="moduleSelect(module.id, module.name)"
								ng-repeat="module in details.modulesList">{{module.name}}</a></li>
						</ul>
					</div></td>
				<td>
					<button type="button" class="btn btn-primary" data-toggle="modal"
						data-target="#moduleModal">Add New Module</button>
				</td>
			</tr>
			<tr ng-if="moduleSelected">
				<td><div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button"
							data-toggle="dropdown">{{releaseDisplay}}</button>
						<ul class="dropdown-menu">
							<li><a class="releaseSelection"
								ng-click="releaseSelect(release.id, release.name, release)"
								ng-repeat="release in details.releasesList">{{release.name}}</a></li>
						</ul>
					</div></td>
				<td>
					<button type="button" class="btn btn-primary"
						ng-click="addNewModule()">Add New Release</button>
				</td>
			</tr>
		</tbody>
	</table>

	Modals
	For Adding Account

	<div id="accountModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			Modal content

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						ng-click="reset()">&times;</button>
					<h4 class="modal-title">Add Account</h4>
				</div>
				<div class="modal-body">
					<p>Please fill below details to add an account:</p>
					<div ng-if="errorMessage" class="alert alert-danger custom-message">{{errorMessage}}</div>
					<div ng-if="successMessage"
						class="alert alert-success custom-message">{{successMessage}}</div>
					<form name="form" ng-submit="addAccount()" role="form">
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="accountName" id="accountName"
										class="form-control input-sm" placeholder="Account Name"
										required="required" maxlength="50">
								</div>
							</div>
						</div>
						<button type="reset" class="btn btn-default">Reset</button>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="reset()">Close</button>
				</div>
			</div>
		</div>
	</div>

	For Adding Project
	<div id="projectModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						ng-click="reset()">&times;</button>
					<h4 class="modal-title">Add Project</h4>
				</div>
				<div class="modal-body">
					<p>Please fill below details to add a project:</p>
					<div ng-if="errorMessage" class="alert alert-danger custom-message">{{errorMessage}}</div>
					<div ng-if="successMessage"
						class="alert alert-success custom-message">{{successMessage}}</div>
					<form name="form" ng-submit="addProject()" role="form">
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="projectName" id="projectName"
										class="form-control input-sm" placeholder="Project Name"
										required="required" maxlength="50">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="accountId" id="accountId"
										class="form-control input-sm" placeholder="Account ID"
										required="required" maxlength="10">
								</div>
							</div>
						</div>
						<button type="reset" class="btn btn-default">Reset</button>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="reset()">Close</button>
				</div>
			</div>
		</div>
	</div>
	For Adding Module
	<div id="moduleModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						ng-click="reset()">&times;</button>
					<h4 class="modal-title">Add Project</h4>
				</div>
				<div class="modal-body">
					<p>Please fill below details to add a module:</p>
					<div ng-if="errorMessage" class="alert alert-danger custom-message">{{errorMessage}}</div>
					<div ng-if="successMessage"
						class="alert alert-success custom-message">{{successMessage}}</div>
					<form name="form" ng-submit="addModule()" role="form">
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="moduleName" id="moduleName"
										class="form-control input-sm" placeholder="Module Name"
										required="required" maxlength="50">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="projectId" id="projectId"
										class="form-control input-sm" placeholder="Project ID"
										required="required" maxlength="10">
								</div>
							</div>
						</div>
						<button type="reset" class="btn btn-default">Reset</button>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="reset()">Close</button>
				</div>
			</div>
		</div>
	</div>

<div ng-if="releaseSelected">

<form name="form" ng-submit="updateRelease()" role="form">
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="details.release.name" id="releaseName"
										class="form-control input-sm" placeholder="Release Name"
										required="required" maxlength="50">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="details.release.id" id="releaseId"
										class="form-control input-sm" placeholder="Release ID"
										required="required" maxlength="10">
								</div>
							</div>
						</div>
						<button type="reset" class="btn btn-default">Reset</button>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
	
</div>
</div> -->



<div>
	<table class="table">
		<thead>		</thead>
		<tbody>
			<tr>
				<td>
					<div class="dropdown">
						<button class="btn btn-info dropdown-toggle" type="button"
							data-toggle="dropdown">{{accountDisplay}} <span class = "caret"></span></button>
						<ul class="dropdown-menu">
							<li><a ng-click="accountSelect(account.id, account.name)"
								ng-repeat="account in details.accountsList">{{account.name}}</a>
							</li>	 
						</ul>
					</div>
				</td>
				<td>
					<button type="button" class="btn btn-info" data-toggle="modal"
						data-target="#accountModal"> <span class="glyphicon glyphicon-plus-sign"></span> New Account</button>
				</td>
			</tr>
			<tr ng-if="accountSelected">
				<td><div class="dropdown">
						<button class="btn btn-info dropdown-toggle" type="button"
							data-toggle="dropdown">{{projectDisplay}} <span class = "caret"></span></button>
						<ul class="dropdown-menu">
							<li><a ng-click="projectSelect(project.id, project.name)"
								ng-repeat="project in details.projectsList">{{project.name}}</a></li>
						</ul>
					</div></td>
				<td>
					<button type="button" class="btn btn-info" data-toggle="modal"
						data-target="#projectModal"> <span class="glyphicon glyphicon-plus-sign"></span>  New Project</button>
				</td>
			</tr>
			<tr ng-if="projectSelected">
				<td><div class="dropdown">
						<button class="btn btn-info dropdown-toggle" type="button"
							data-toggle="dropdown">{{moduleDisplay}} <span class = "caret"></span></button>
						<ul class="dropdown-menu">
							<li><a ng-click="moduleSelect(module.id, module.name)"
								ng-repeat="module in details.modulesList">{{module.name}}</a></li>
						</ul>
					</div></td>
				<td>
					<button type="button" class="btn btn-info" data-toggle="modal"
						data-target="#moduleModal"> <span class="glyphicon glyphicon-plus-sign"></span> New Module</button>
				</td>
			</tr>
			<tr ng-if="moduleSelected">
				<td><div class="dropdown">
						<button class="btn btn-info dropdown-toggle" type="button"
							data-toggle="dropdown">{{releaseDisplay}} <span class = "caret"></span></button>
						<ul class="dropdown-menu">
							<li><a class="releaseSelection"
								ng-click="releaseSelect(release.id, release.name, release)"
								ng-repeat="release in details.releasesList">{{release.name}}</a></li>
						</ul>
					</div></td>
				<td>
					<button type="button" class="btn btn-info" data-toggle="modal"
						data-target="#releaseModal"> <span class="glyphicon glyphicon-plus-sign"></span>  New Release</button>
				</td>
			</tr>
		</tbody>
	</table>
<!-- 
	Modals
	For Adding Account
 -->
	<div id="accountModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			Modal content

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						ng-click="reset()">&times;</button>
					<h4 class="modal-title">Add Account</h4>
				</div>
				<div class="modal-body">
					<p>Please fill below details to add an account:</p>
					<div ng-if="errorMessage" class="alert alert-danger custom-message">{{errorMessage}}</div>
					<div ng-if="successMessage"
						class="alert alert-success custom-message">{{successMessage}}</div>
					<form name="form" ng-submit="addAccount()" role="form">
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="accountName" id="accountName"
										class="form-control input-sm" placeholder="Account Name"
										required="required" maxlength="50">
								</div>
							</div>
						</div>
						<button type="reset" class="btn btn-default">Reset</button>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="reset()">Close</button>
				</div>
			</div>
		</div>
	</div>

<!-- 	For Adding Project -->
	<div id="projectModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						ng-click="reset()">&times;</button>
					<h4 class="modal-title">Add Project</h4>
				</div>
				<div class="modal-body">
					<p>Please fill below details to add a project:</p>
					<div ng-if="errorMessage" class="alert alert-danger custom-message">{{errorMessage}}</div>
					<div ng-if="successMessage"
						class="alert alert-success custom-message">{{successMessage}}</div>
					<form name="form" ng-submit="addProject()" role="form">
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="projectName" id="projectName"
										class="form-control input-sm" placeholder="Project Name"
										required="required" maxlength="50">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="accountId" id="accountId"
										class="form-control input-sm" placeholder="Account ID"
										required="required" maxlength="10">
								</div>
							</div>
						</div>
						<button type="reset" class="btn btn-default">Reset</button>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="reset()">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- //For Adding Module -->
	<div id="moduleModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						ng-click="reset()">&times;</button>
					<h4 class="modal-title">Add Project</h4>
				</div>
				<div class="modal-body">
					<p>Please fill below details to add a module:</p>
					<div ng-if="errorMessage" class="alert alert-danger custom-message">{{errorMessage}}</div>
					<div ng-if="successMessage"
						class="alert alert-success custom-message">{{successMessage}}</div>
					<form name="form" ng-submit="addModule()" role="form">
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="moduleName" id="moduleName"
										class="form-control input-sm" placeholder="Module Name"
										required="required" maxlength="50">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="projectId" id="projectId"
										class="form-control input-sm" placeholder="Project ID"
										required="required" maxlength="10">
								</div>
							</div>
						</div>
						<button type="reset" class="btn btn-default">Reset</button>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="reset()">Close</button>
				</div>
			</div>
		</div>
	</div>


	<!-- //For Adding Release -->
	<div id="releaseModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						ng-click="reset()">&times;</button>
					<h4 class="modal-title">Add Release</h4>
				</div>
				<div class="modal-body">
					<p>Please fill below details to add a release:</p>
					<div ng-if="errorMessage" class="alert alert-danger custom-message">{{errorMessage}}</div>
					<div ng-if="successMessage"
						class="alert alert-success custom-message">{{successMessage}}</div>
					<form name="form" ng-submit="addRelease()" role="form">
						<div class="row">
						 	
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">Realease Name
									<input type="text" ng-model="releaseName" id="releaseName"
										class="form-control input-sm" 
										required="required" maxlength="10">
								</div>
							</div>
							
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">Release Id
									<input type="text" ng-model="moduleId" id="moduleId"
										class="form-control input-sm" 
										required="required" maxlength="50">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">Description
									<input type="text" ng-model="decription" id="description"
										class="form-control input-sm" 
										required="required" maxlength="10">
								</div>
							</div>
							
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">Delivery Date
									<input type="date" ng-model="Delivery" id="Delivery"
										class="form-control input-sm" 
										required="required" maxlength="50">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">CUT End date
									<input type="date" ng-model="cutEndDate" id="cutEndDate"
										class="form-control input-sm" 
										required="required" maxlength="10">
								</div>
							</div>
							
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">QA start date
									<input type="date" ng-model="qaStartDate" id="qaStartDate"
										class="form-control input-sm" 
										required="required" maxlength="50">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">QA end date
									<input type="date" ng-model="qaEndDate" id="qaEndDate"
										class="form-control input-sm" 
										required="required" maxlength="10" ng-Change='checkErr(qaStartDate,qaEndDate)'>
								</div>
							</div>
							<span>{{errMessage}}</span>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">UAT start date
									<input type="date" ng-model="uatStartDate" id="uatStartDate"
										class="form-control input-sm" 
										required="required" maxlength="50">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">UAT end date
									<input type="date" ng-model="uatEndDate" id="uatEndDate"
										class="form-control input-sm" 
										required="required" maxlength="10">
								</div>
							</div>
							
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">Preview Release Date
									<input type="date" ng-model="reviewRelase" id="reviewRelase"
										class="form-control input-sm" 
										required="required" maxlength="50">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">Production Release Date
									<input type="date" ng-model="productionRelease" id="productionRelease"
										class="form-control input-sm" 
										required="required" maxlength="10">
								</div>
							</div>
							
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<label for="sell" ng-model="type" id="type">Release Type</label>
										<select class="form-control" id= "sell">
											<option>Mobile</option>
											<option>Tablet</option>
											<option>Desktop</option>
										</select>
								</div>
							</div>
							
						</div>
						<button type="reset" class="btn btn-default">Reset</button>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="reset()">Close</button>
				</div>
			</div>
		</div>
	</div>


<!-- <div ng-if="releaseSelected">

<form name="form" ng-submit="updateRelease()" role="form">
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="details.release.name" id="releaseName"
										class="form-control input-sm" placeholder="Release Name"
										required="required" maxlength="50">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="details.release.id" id="releaseId"
										class="form-control input-sm" placeholder="Release ID"
										required="required" maxlength="10">
								</div>
							</div>
						</div>
						<button type="reset" class="btn btn-default">Reset</button>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
	
</div> -->

<div ng-if="releaseSelected">

<form name="form" ng-submit="updateRelease()" role="form">
						<div class="row">
								
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="details.release.name" id="releaseName"
										class="form-control input-sm" placeholder="Realease Name"
										required="required" maxlength="10">
								</div>
							</div>
							
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="details.release.id" id="releaseId"
										class="form-control input-sm" placeholder="Release Id"
										required="required" maxlength="50">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="details.release.description" id="decription"
										class="form-control input-sm" placeholder="Description"
										required="required" maxlength="10">
								</div>
							</div>
							
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="details.release.ddd_Delivery" id="dddDelivery" ng-hide 'if details.release.ddd_Delivery' = "null"
										class="form-control input-sm" placeholder="Delivery Date"
										required="required" maxlength="50">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="details.release.cut_End_date" id="cutEndDate"
										class="form-control input-sm" placeholder="CUT End date"
										required="required" maxlength="10">
								</div>
							</div>
							
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="details.release.qa_start_date" id="qaStartDate"
										class="form-control input-sm" placeholder="QA start date"
										required="required" maxlength="50">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="details.release.qa_end_date" id="qaEndDate"
										class="form-control input-sm" placeholder="QA end date"
										required="required" maxlength="10">
								</div>
							</div>
							
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="details.release.uat_start_date" id="uatStartDate"
										class="form-control input-sm" placeholder="UAT start date"
										required="required" maxlength="50">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="details.release.uat_end_date" id="uatEndDate"
										class="form-control input-sm" placeholder="UAT end date"
										required="required" maxlength="10">
								</div>
							</div>
							
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="details.release.preview_Release" id="reviewRelase"
										class="form-control input-sm" placeholder="Preview Release Date"
										required="required" maxlength="50">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="details.release.prod_Release" id="productionRelease"
										class="form-control input-sm" placeholder="Production Release Date"
										required="required" maxlength="10">
								</div>
							</div>
							
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" ng-model="details.release.type" id="type"
										class="form-control input-sm" placeholder="Type"
										required="required" maxlength="10">
								</div>
							</div>
						</div>
						<button type="reset" class="btn btn-default">Reset</button>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
	
</div>

</div>